In [ ]:
!pip install yfinance

In [207]:
import yfinance as yf
import pandas as pd
from IPython.display import display, HTML
import plotly.express as px

# Define o símbolo da moeda que você quer consultar
symbols = ["EURBRL=X", "USDBRL=X", "GBPBRL=X", "CADBRL=X", "CHFBRL=X"]
dict_moedas = {}

for symbol in symbols:
  # Define a data inicial e final do período que você quer consultar
  start_date = "2023-01-01"
  end_date = "2023-03-22"

  # Pega o histórico semanal das moedas utilizando a API do Yahoo Finance
  data = yf.download(symbol, start=start_date, end=end_date, interval='1h')

  alta = data.High.max()
  baixa = data.Low.min()
  open = data.iloc[0].Open
  close = data.iloc[-1].Close

  dict_moedas[f'{symbol}'] = [round(alta, 2), round(baixa, 2), round(open, 2), round(close, 2)]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [197]:
dict_moedas

{'EURBRL=X': [5.8, 5.39, 5.67, 5.64],
 'USDBRL=X': [5.48, 4.94, 5.29, 5.23],
 'GBPBRL=X': [6.59, 6.05, 6.41, 6.4],
 'CADBRL=X': [4.05, 3.7, 3.91, 3.82],
 'CHFBRL=X': [5.9, 5.43, 5.73, 5.68]}

In [198]:
df = pd.DataFrame(dict_moedas)

In [199]:
df = df.rename(columns={'EURBRL=X': 'Euro x Real', 'USDBRL=X': 'Dólar x Real', 'GBPBRL=X': 'Libra x Real', 'CADBRL=X': 'Dólar CAD x Real', 'CHFBRL=X': 'Franco x Real'})

In [200]:
# usando o método transpose
df_t = df.transpose()

df_t

                     0     1     2     3
Euro x Real       5.80  5.39  5.67  5.64
Dólar x Real      5.48  4.94  5.29  5.23
Libra x Real      6.59  6.05  6.41  6.40
Dólar CAD x Real  4.05  3.70  3.91  3.82
Franco x Real     5.90  5.43  5.73  5.68

In [201]:
df_t = df_t.rename(columns={0: 'High', 1: 'Low', 2: 'Open', 3: 'Close'})

In [202]:
df_t

                  High   Low  Open  Close
Euro x Real       5.80  5.39  5.67   5.64
Dólar x Real      5.48  4.94  5.29   5.23
Libra x Real      6.59  6.05  6.41   6.40
Dólar CAD x Real  4.05  3.70  3.91   3.82
Franco x Real     5.90  5.43  5.73   5.68

In [203]:
df_t['Resultado_%'] = round(((df_t['Close'] * 100) / df_t['Open']) - 100, 2)
df_t

                  High   Low  Open  Close  Resultado_%
Euro x Real       5.80  5.39  5.67   5.64        -0.53
Dólar x Real      5.48  4.94  5.29   5.23        -1.13
Libra x Real      6.59  6.05  6.41   6.40        -0.16
Dólar CAD x Real  4.05  3.70  3.91   3.82        -2.30
Franco x Real     5.90  5.43  5.73   5.68        -0.87

In [204]:
# função para colorir células com base em uma condição
def colorir_celula(valor):
    if valor < 0.00:
        cor = '#ff4040'
        texto_cor = '#ffffff' # texto em branco
        bold = 'bold'
    elif valor > 0.00:
        cor = '#00a000'
        texto_cor = '#000000' # texto em preto
        bold = 'bold'
    else:
        cor = ''
        texto_cor = '#000000' # texto em preto
        bold = 'bold'
    
    return f'background-color: {cor}; color: {texto_cor}; font-weight: {bold}'

# aplicar a função na coluna 'Resultado_%'
df_moedas = df_t.style.format("{:.2f}").applymap(colorir_celula, subset=['Resultado_%'])

In [205]:
df_moedas

In [206]:
# Definir estilo do cabeçalho
header_style = {
    'selector': 'th',
    'props': [('background-color', '#a9a9a9'), ('color', 'Black')]
}

# Aplicar estilo ao DataFrame
styled_df = df_moedas.set_table_styles([header_style])

# Exibir DataFrame com estilo
styled_df